# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mycode\SE_homework_PersonnelManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
